RewriteEngine On

# RewriteBase http://react-easy-commere.easytechsolutions.xyz/landing/
RewriteBase /landing/

# Landing without slug
RewriteRule ^$ index.php [L]

# Landing with slug
RewriteRule ^([^/]+)/?$ index.php?slug=$1 [L,QSA]