RewriteEngine On

# RewriteBase https://multaan.com/landing/
RewriteBase /test/easy_tech_solutions/react-easy-commerce-admin-backend/landing/

# Landing without slug
RewriteRule ^$ index.php [L]

# Landing with slug
RewriteRule ^([^/]+)/?$ index.php?slug=$1 [L,QSA]